

    <div class="container-fluid text-sm-center p-5 bg-light"> <!-- bg-light is background color & p-5 is padding -->
        <h1 class="display-2">Full Stack Conf</h1>
        <p class="lead">A One-day Conference About All Things JavaScript!</p>
        <div class= "col-lg-12 col-md-12 jumbotron">

        <h1> this is my page </h1>
        </div>
    </div>